langchain==0.1.0
langchain_community==0.0.12
python-dotenv==1.0.0
setuptools==68.2.2
streamlit==1.29.0
streamlit_chat==0.1.1
streamlit_option_menu==0.3.6
unstructured
openai
pypdf
docx2txt
sentence-transformers
python-docx==0.8.11
sentencepiece==0.1.99
faiss-cpu==1.7.4
